rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{uid}/{allPaths=**} {
      allow read: if signedIn() && request.auth.uid == uid;
      allow write: if signedIn() && request.auth.uid == uid;
    }

    match /workspaces/{workspaceId}/{allPaths=**} {
      allow read: if signedIn() && exists(/databases/(default)/documents/workspaces/$(workspaceId)/members/$(request.auth.uid));
      allow write: if signedIn() && exists(/databases/(default)/documents/workspaces/$(workspaceId)/members/$(request.auth.uid));
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
